<p id="notice"><%= notice %></p>

<h1>Listing Admin Albums</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Cover</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_albums.each do |admin_album| %>
      <tr>
        <td><%= admin_album.name %></td>
        <td><%= admin_album.user_id %></td>
        <td><%= admin_album.cover %></td>
        <td><%= link_to 'Show', admin_album %></td>
        <td><%= link_to 'Edit', edit_admin_album_path(admin_album) %></td>
        <td><%= link_to 'Destroy', admin_album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album', new_admin_album_path %>
