<ul class="nav nav-tabs">
  <li role="presentation" class="active" > <%= link_to "从本地上传" ,"/admin/upload/#{@admin_album.name}" %></li>
  <li role="presentation" > <%= link_to "从相片库上传" ,"/admin/upload_online/"+@admin_album.name  %></li>
</ul>


<%= form_for @admin_photo, url:"/admin/upload/#{@admin_album.name}",html:{enctype:"multipart/form-data"} do |f| %>
  <%= form_errors @admin_photo %>
  <div class="form-group">
  <div class="upload-div">
     <input type="file" name="photos[]" class="uploadInput" multiple="multiple" />
     <div class="uploadShow">
      <span class="glyphicon glyphicon-plus"></span>
      <i>从本地选择要上传的相片</i>
     </div>
  </div>
  </div>
  

  <div class="type">
    <%= f.hidden_field :album_id,value:@admin_album.id %>
  </div>

  <div class="form-group action">
    <%= link_to '取消', admin_photos_path,class:"btn btn-default cancle" %>
    <%= f.submit '上传', class:"btn btn-primary submit waiting",id:"submit" %>
  </div>

<% end %>
