<ul class="nav nav-tabs">
  <li role="presentation"> <%= link_to "从本地上传" ,admin_upload_path+"/"+@admin_album.name %></li>
  <li role="presentation" class="active" > <%= link_to "从相片库上传" ,"/admin/upload_online/"+@admin_album.name  %></li>
</ul>
<% if !@admin_photos.nil? %>
  <%= form_tag "/admin/uploading_online/#{@admin_album.name}" do %>
  <ul class="choose_online">
    <% @admin_photos.each do |p| %>
      <div class="outer">
        <li class="choose_photos">
          <%= check_box_tag "target[]", p.id, false, class: "p_checkbox hidden"%>
          <%= image_tag p.img_url(:thumb) %>
        </li>
      </div>
    <% end %>
    <div style="clear:both"></div>
  </ul>
  <%= submit_tag "上传",class:"btn btn-inline btn-primary" %>
  <% end %>
<% else %>
  "糟糕，相片库没有相片了，快去<%= link_to "上传",new_admin_photo_path %>些吧～
<% end %>
