<!DOCTYPE html>
<html>
<head>
  <title>用户注册</title>
  <%= stylesheet_link_tag    'admin/session', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <% unless flash[:alert].nil? %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= flash[:alert] %>
    </div>
  <% end %>
  <div class="login_outer">
    <div class="login_panel">
      <div class="title">
        <span>用户注册</span>
      </div>
      <div class="content">
        <%= form_tag admin_regist_path,method: :post do %>
        <%= form_errors @user %>
            <div class="form-item">
              <%= text_field_tag :name,'', class:"form-input", placeholder:"请输入用户名" %>
            </div>
            <div class="form-item">
              <%= password_field_tag :password ,'', class:"form-input", placeholder:"请输入密码"  %>
            </div>
            <div class="form-item">
              <%= password_field_tag :password_confirmation ,'', class:"form-input", placeholder:"请确认密码"  %>
            </div>
            <div class="form-item">
              <%= submit_tag "注册",class:"form-submit" %>
            </div>
        <% end %>
        <div class="register">
          <%= link_to '已有账户，马上登录',admin_login_path %>
        </div>
      </div>
    </div>
</div>
</body>
<%= javascript_include_tag 'admin/session' %>
</html>
