<div id="ss-container" class="ss-container">
  
  <% group = 1 %>
  <% @albums.each do |a| %>
    <% group += 1 %>
    <% if group%2==0 %>
    <div class="ss-row ss-medium">
      <div class="ss-left">
        <a href="<%= "/home/#{a.user.name}/#{a.name}" %>" class="ss-circle" style="background-image:url(<%= a.cover_url %>) "></a>
      </div>
      <div class="ss-right">
        <h3>
          <span><%= DateTime.parse(a.created_at.to_s).strftime('%Y-%m-%d') %></span>
          <a href="<%= "/u/#{a.user.name}" %>"><%= a.user.name %></a>
        </h3>
      </div>
    </div>
    <% else %>
    <div class="ss-row ss-large">
      <div class="ss-left">
        <h3>
          <span><%= DateTime.parse(a.created_at.to_s).strftime('%Y-%m-%d') %></span>
          <a href="<%= "/u/#{a.user.name}" %>"><%= a.user.name %></a>
        </h3>
      </div>
      <div class="ss-right">
        <a href="<%= "/home/#{a.user.name}/#{a.name}" %>" class="ss-circle" style="background-image:url(<%= a.cover_url %>)">Hover and Click Trigger for Circular Elements with jQuery</a>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
<div class="pagination-wrap">
  <%= paginate @albums %>
</div>
